@{
    ViewBag.Title = "參考資料";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <hr/>
    @*<p>Use this area to provide additional information.</p>*@
    <p><a href="https://learn.microsoft.com/zh-tw/aspnet/mvc/">ASP.NET MVC</a></p>
    <p><a href="https://ithelp.ithome.com.tw/users/20091762/ironman/971">使用ASP.NET MVC 實作購物網站</a></p>
    <p><a href="https://ithelp.ithome.com.tw/users/20083151/ironman/856">以Asp .Net MVC 5 為基礎，建立自己的程式開發框架</a></p>

</main>